@font-face {
    font-family: titulos;
    src: url(../recursos/tipografias/MiriamLibre-Regular.woff);
}

@font-face {
    font-family: cuerpo;
    src: url(../recursos/tipografias/DroidSans.ttf);
}

.texto-tarjeta{
    font-family: cuerpo;
}

.texto-cta{
    font-family: cuerpo;
    text-align: center;
    margin: 0;
}

.hero-cta{
    font-family: titulos;
}



#peliculas-esperadas {
    font-family: titulos;
}

#encabezado, #footer {
    display: flex;
    width: 100%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

#logo-encabezado, #logo-footer {
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: width 0.3s ease;
}

/* A partir de md (768px) el logo ocupa 20% */
@media (min-width: 768px) {
    #logo-encabezado, #logo-footer {
        width: 20%;
    }
}

#hero-movil img {
    width: 100%;
    height: auto;
}

#hero-movil {
    background-size: cover; 
    background-position: center; 
    min-height: 500px;
}

#hero-escritorio {
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

#hero-escritorio img {
    width: 100%;
    height: auto;
}

/* Hace que todas las columnas se ajusten igual */
.grid-tarjeta {
  display: flex;
  transition: all 0.3s;
}

.tarjeta {
    background-color: #6c757d; /* o el color que prefieras */
    transition: all 0.3s;
} 

.tarjeta:hover {
    transform: scale(1.05);
    background-color: #5a6268; /* Un tono más oscuro */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  

/* Hace que todas las tarjetas se estiren igual */
.grid-tarjeta > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.grid-tarjeta:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.icono-grid {
    width: 60px;
    margin-left: 5px;
    margin-top: 5px;
}

.tarjeta {
    min-height: 250px;   /* ajusta según necesites */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linea-blanca {
    border: none;
    border-top: 2px solid white;
    margin: 20px auto;
    width: 95%;
}

/* Móvil y Tablet*/
@media (max-width: 576px) {
  .grid-tarjeta > div {
    min-height: 120px;
  }
}

/* Escritorio */
@media (min-width: 993px) {
  .grid-tarjeta > div {
    min-height: 220px;
    max-height: 120px;
  }
}
